@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>
    body {
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 1.6em;
    }

    .home-section {
        width: 100%;
        padding: 50px 0px 150px 0px;
    }

    #spacer2 {
        background-image: url('../../image/2.jpg');
        margin-top: 0px;
    }

    
</style>

<section id="spacer2" class="home-section spacer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="color-light">
                    <h2 class="wow bounceInDown" data-wow-delay="1s">Details are the key for perfection</h2>
                    <p class="lead wow bounceInUp" data-wow-delay="2s">We mix all detailed things together</p>
                </div>

            </div>
        </div>
    </div>

</section>

<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-md-12">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis velit id arcu maximus finibus ut ut enim. Mauris auctor
                vehicula fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac libero
                scelerisque, aliquam metus sed, malesuada sapien. Mauris ut nulla eleifend, tempus tortor id, fermentum est. Integer elementum mi quis est fringilla, at cursus neque euismod.
                Quisque placerat odio nec dui vestibulum, eu dignissim neque tristique. Vivamus vehicula consectetur lectus a gravida.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis velit id arcu maximus finibus ut ut enim. Mauris auctor
                vehicula fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac libero
                scelerisque, aliquam metus sed, malesuada sapien.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis velit id arcu maximus finibus ut ut enim. Mauris auctor
                vehicula fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac libero
                scelerisque, aliquam metus sed, malesuada sapien.
                Mauris ut nulla eleifend, tempus tortor id, fermentum est. Integer elementum mi quis est fringilla, at cursus neque euismod.
                Quisque placerat odio nec dui vestibulum, eu dignissim neque tristique. Vivamus vehicula consectetur lectus a gravida.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis velit id arcu maximus finibus ut ut enim. Mauris auctor
                vehicula fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac libero
                scelerisque, aliquam metus sed, malesuada sapien.
                Mauris ut nulla eleifend, tempus tortor id, fermentum est. Integer elementum mi quis est fringilla, at cursus neque euismod.
                Quisque placerat odio nec dui vestibulum, eu dignissim neque tristique. Vivamus vehicula consectetur lectus a gravida.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis velit id arcu maximus finibus ut ut enim. Mauris auctor
                vehicula fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac libero
                scelerisque, aliquam metus sed, malesuada sapien.
                Mauris ut nulla eleifend, tempus tortor id, fermentum est. Integer elementum mi quis est fringilla, at cursus neque euismod.
                Quisque placerat odio nec dui vestibulum, eu dignissim neque tristique. Vivamus vehicula consectetur lectus a gravida.
            </p>

        </div>
    </div>

    <!-- Contact -->
    <section id="contact" class="home-section bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="section-heading">
                        <h2>Contact us</h2>
                        <p>Contact via form below and we will be get in touch with you within 24 hours. </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-1 col-md-10">

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                                <input type="text" class="form-control" id="inputName" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                                <input type="text" class="form-control" id="inputSubject" placeholder="Subject">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                                <textarea name="message" class="form-control" rows="3" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                                <button type="button" class="btn btn-primary btn-lg btn-block">Send message</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</div>